body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-menu {
    margin-bottom: 20px;
}

#board-container {
    display: grid;
    grid-template-columns: repeat(13, 30px);
    gap: 5px;
}

.hole {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: #fff;
}

.player1 {
    background-color: red;
}

.player2 {
    background-color: blue;

}

.player3 {
    background-color: green;
}
